@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat' sans-serif;
    line-height: 1.7;
}

header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/Home\ Cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.navbar{
    border: 2px solid #ffffff;
}



.header .logo{
    float: right;
    font-size: 3.5rem;
}

.header .navbar .navbar-items{
    float: none;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.header .navbar .nav-item{
    display: inline-block;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

.lg-heading{
    font-size: 3.5rem;
}

.mg-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text_light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}

