@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;  /*By default 16px = 100% so for 10px = 62.5%*/
}

body{
    font-family: 'Montserrat' sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

.container{
    max-width: 1200px;     /*Used to avoid scroll bar when we are shorteniing the screen*/
    width: 90%;
    margin: 0 auto;     /*To bring it to the center*/
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}

header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/Home\ Cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.navbar{
    border: 2px solid #ffffff;
    padding: 1rem;
}


.header .logo{
    float: right;
    font-size: 3.5rem;
}

.header .navbar .navbar-items{
    float: none;
    margin-top: 1rem;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.header .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}


.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.header-content p{
    text-transform: uppercase;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 500;
}

.btn{
    display: inline-block;
    padding: 0.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto;
}

.btn-primary{
    background-color: #ffffff;
    border-radius: 100px;
}

.navbar a:link, .navbar a:visited{
    color: #f4f4f4;
}